@{
  

    ViewBag.Title = "signup";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/CSS/signup.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>SignUp Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @*<link rel="stylesheet" href="./style.css">*@

</head>
<body>

    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>STUDENT MANAGMENT</h1>
                <p>
                    <h2>Welcome!</h2>
                    <br>
                    Great to see you! Your presence is always appreciated.<br>
                    We hope you're ready to dive  into the amazing  features we have in store for you.


                </p>
                <span>
                    <p>Signup with social media</p>
                    <a href="#"><i class="fa fa-google" aria-hidden="true"></i>SignUp with Google</a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> SignUp with Twitter</a>
                </span>
            </div>
        </div>
        <script src="~/JavaScript/signup.js"></script>
        <div class="right">
            <h5> SignUp </h5>
            <br>
            <br>
            <form method="post">
                <script src="~/JavaScript/signup.js"></script>
                <div class="inputs">
                    <script src="~/JavaScript/signup.js"></script>
                    <br>
                    <input type="text" id="firstname"  placeholder="Firstname" style="margin-right: 100px;" required>
                    <br>
                    <br>
                    <input type="text" id="lastname" placeholder="Lastname" style="margin-right: 100px;"required>
                    <br>

                    <input type="text" id="username" placeholder="User Name" style="margin-right: 100px;"required>

                    <br>
                    <input type="text" id="emailid" placeholder="Email ID" style="margin-right: 100px;"required
                    <br>

                    <input type="password" id="password" placeholder="password" style="margin-right: 100px;"required>
                    @*<i id="showPasswordToggle" class="fa fa-eye" style="background-position: 5px center; margin-top:-20px; "></i>*@
                    <br>
                    <input type="password" id="password1" placeholder="Confirm password" style="margin-right: 100px;"required>
                    @* <i id="showPasswordToggle1" class="fa fa-eye" style="padding-left: 286px; margin-top: -50px; background-position: 5px center; "></i>*@

                    <script src="~/JavaScript/signup.js"></script>

                </div>
                <script src="~/JavaScript/signup.js"></script>
                <br><br>
                <br>
                <button onclick="processInputs()">Submit</button>


            </form>
            <!--<div class="remember-me--forget-password">-->
            <!-- Angular -->
            <!--<label>
                    <input type="checkbox" name="item" checked />
                    <span class="text-checkbox">Remember me</span>
                </label>
                <p>forget password?</p>
            </div>-->




        </div>
        <script src="~/JavaScript/signup.js"></script>
        <script src="~/javascript/signup.js"></script>

    </div>
    <!-- partial
    //function createUserName(id => {
    //    result = [];
    //    var user = new users
    //    {
    //        username = Models.username,
    //        email = Models.email,
    //        password = Models.password,
    //        password1 = Models.password1
    //    };





    //})-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/JavaScript/signup.js"></script>
</body>
</html>
